<div class="container-checkout">
    <h1>Checkout</h1>
 <p>Gracias por tu compra</p><h2><span> {{client}} ,</span> </h2>
    <p>Total de la compra:$ <span>{{totalAmount}}</span></p> 
    <p> Tu numero de orden es: <span>{{numTicket}}</span></p>
    <p>Te enviaremos un e-mail: <span>{{email}} con toda la informacion y numero de orden</span></p>
    <div class="group-btn">
      <button class="btn-ckeckout"> <a  href="/products">Tienda</a></button>
      <button class="btn-ckeckout"> <a  href="/api/user/profile">Mi Perfil</a></button>

    </div>
    
     <form id="checkout-form">
    <label for="title">Título del Producto:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>
    <br>
    <button type="submit">Pagar</button>
  </form>
  <div id="payment-button"></div>

      <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script src="/js/checkout.js"></script>